<div class="bg-[url('assets/lnu_brillo.png')] h-screen bg-cover">
  <div class="bg-blue-800/80 h-screen bg-cover flex flex-col justify-center">
    <div class="flex justify-center">
      <div
        class="bg-[#070372] px-28 pt-6 flex flex-col justify-center rounded-xl items-center text-white"
      >
        <img src="assets/lnu.png" class="size-28 mb-3" />

        <p>Leyte Normal University</p>
        <p>Library Management System</p>
        <input
          type="text"
          class="bg-white placeholder:text-gray-500 px-4 py-1 rounded-lg mt-6"
          placeholder="Institutional Email"
        />
        <input
          type="text"
          class="bg-white placeholder:text-gray-500 px-4 py-1 rounded-lg mt-6"
          placeholder="Password"
        />
        <button class="bg-yellow-300 m-8 py-2 px-5 rounded-xl text-black">
          <a> Login </a>
        </button>
      </div>
    </div>
  </div>
</div>
