<div class="h-full p-4">
  <div class="gap-10 flex">
    <button class="bg-blue-900 rounded-full px-3 py-1 text-white">
      <a> Librarian</a>
    </button>
    <button class="bg-blue-900 rounded-full px-3 py-1 text-white">
      <a>Assistant Librarian</a>
    </button>
    <button class="bg-blue-900 rounded-full px-3 py-1 text-white">
      <a>Borrower</a>
    </button>
    <div class="gap-4 flex pl-96">
      <input
        type="text"
        class="bg-gray-500 bg-opacity-70 rounded-lg text-white placeholder:text-white pl-3"
        placeholder="Search"
      />
      <button class="bg-blue-900 rounded-lg px-3 py-1 text-white">
        <a> Librarian</a>
      </button>
    </div>
  </div>

  <div
    class="relative overflow-x-auto shadow-md sm:rounded-lg pt-4 *:text-center"
  >
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">ID</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Contact/Email</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            2100129
          </th>
          <td class="px-6 py-4">Arvi Monge</td>
          <td class="px-6 py-4">arvimonge01&#64;gmail.com</td>
          <td class="px-6 py-4 text-black">
            <div class="flex justify-center gap-7">
              <button class="bg-yellow-300 px-3 rounded-md"><a>Edit</a></button
              ><button class="bg-red-500 px-3 rounded-md">
                <a>Delete</a>
              </button>
            </div>
          </td>
        </tr>
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            2100238
          </th>
          <td class="px-6 py-4">Hanz Tumulak</td>
          <td class="px-6 py-4">tumulakzvnh&#64;gmail.com</td>
          <td class="px-6 py-4">
            <div class="flex justify-center gap-7">
              <button class="bg-yellow-300 px-3 rounded-md"><a>Edit</a></button
              ><button class="bg-red-500 px-3 rounded-md">
                <a>Delete</a>
              </button>
            </div>
          </td>
        </tr>
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            2102379
          </th>
          <td class="px-6 py-4">Aron Toverada</td>
          <td class="px-6 py-4">iamaronman&#64;gmail.com</td>
          <td class="px-6 py-4">
            <div class="flex justify-center gap-7">
              <button class="bg-yellow-300 px-3 rounded-md"><a>Edit</a></button
              ><button class="bg-red-500 px-3 rounded-md">
                <a>Delete</a>
              </button>
            </div>
          </td>
        </tr>
        <tr
          class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            2190989
          </th>
          <td class="px-6 py-4">Zsyvette Bugho</td>
          <td class="px-6 py-4">zygv&#64;gmail.com</td>
          <td class="px-6 py-4">
            <div class="flex justify-center gap-7">
              <button class="bg-yellow-300 px-3 rounded-md"><a>Edit</a></button
              ><button class="bg-red-500 px-3 rounded-md">
                <a>Delete</a>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
